{% extends 'base.html'%}



{% block body%}
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{allinfo.name}}{{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <h3></h3>
      {% endfor %}
    {% endif %}
    {%endwith%}

<form class="hidden" action="/contact" method="POST">
  <div class="formdiv">
  
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Name</label>
    <input type="text" class="form-control" name="name" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Message</label>
    <textarea name="pa" id="exampleInputPassword1" class="form-control" cols="15" rows="4"></textarea>
  </div>
    
    
    <button type="submit" class="btn btn-primary">Submit</button>
    
</div>
  </form>


  






{% endblock %}


  



    