{% extends 'base.html'%}



{% block body%}

<!-- <div class="bgAnimation" id="bgAnimation">
    <div class="backgroundAmim">

    </div>
</div>
<div class="container"> -->
    <main>
        <div class="lefthand  hidden">
            <div>
                <img src="/static/pngegg.png" alt="" class="hidden">
            </div>

        </div>
        <div class="righthand hidden">
            <img src="/static/dev.png" alt="" class="hidden">
            <p class="hidden">R.Tarun Nayaka</p>
            <div class="hidden">
                <div class="hidden">Hello, I am <samp class="tarun ">Tarun</samp> and I am very passinote about
                    <div>
                        <span id="element"></span>
                    </div>
                </div>
            </div>
        </div>


    </main>
    <hr class="hidden">
    <section>
        <div class="hidden">
            <p class="textgrey hidden">My work life</p>
            <h1 class="exp hidden">Work Experience</h1>
            <div class="">
                <div class="photos hidden">
                    <img class="photos11 " src="/static/pngwing.com.png" alt="">
                    <img class="phots22 " src="/static/pngwing.com (1).png" alt="">
                    <img class="phots22 hidden" src="/static/pngwing.com (2).png" alt="">
                    <img class="phots22 hidden" src="/static/pngwing.com (3).png" alt="">
                </div>
                <span class="start">start</span>
                <div class="boxessleeping hidden">
                </div>
                <div class="straight hidden">
                    <div class="boxesstraight1 left">
                    </div>
                    <div class="boxesstraight1 left">
                    </div>
                    <div class="boxesstraight1 left">
                    </div>
                    <div class="boxesstraight1 left">
                    </div>


                </div>

            </div>
            <!--  -->
            <!--  -->
            <div class="straight hidden">
                <div class="mb">
                    <div class="boldnames">
                        <h3>HTML</h3>
                    </div>
                    <div class="phar">
                        <p>(2017-2018)</p>
                    </div>
                </div>
                <div class="mb2">
                    <div class="boldnames2">
                        <h3> CSS</h3>
                    </div>
                    <div class="phar">
                        <p>(2019-2020)</p>
                    </div>
                </div>
                <div class="mb2">
                    <div class="boldnames2">
                        <h3>Python</h3>
                    </div>
                    <div class="phar">
                        <p>(2020-2020)</p>
                    </div>
                </div>
                <div class="mb2">
                    <div class="boldnames2">
                        <h3> C++</h3>
                    </div>
                    <div class="phar">
                        <p>(2021-2023)</p>
                    </div>
                </div>

            </div>
        </div>

</div>
</div>
<!-- <hr class="hr2"> -->
<div class="section2 hidden">
    <div class="">
        <div class="photos hidden">
            <img class="photos1" src="/static/nextjs.png" alt="">
            <img class="phots2" src="/static/pngwing.com (4).png" alt="">
            <img class="phots2 hidden" src="/static/pngwing.com (5).png" alt="">
            <img class="phots2 hidden" src="/static/pngwing.com (6).png" alt="">
        </div>
        <span class="start">continuing</span>
        <div class="boxessleeping2">
        </div>
        <!-- <span class="start">continuing</span> -->
        <div class="straight">
            <div class="boxesstraight left">
            </div>
            <div class="boxesstraight left">
            </div>
            <div class="boxesstraight left">
            </div>
            <div class="boxesstraight left">
            </div>


        </div>

    </div>
    <!--  -->
    <!--  -->
    <div class="straight hidden">
        <div class="mb">
            <div class="boldnames">
                <h3>Next JS</h3>
            </div>
            <div class="phar">
                <p>(2022-2023) </p>

            </div>
        </div>
        <div class="mb2">
            <div class="boldnames2">
                <h3> Flask.</h3>
            </div>
            <div class="phar">
                <p>(2023-2024)</p>
            </div>
        </div>
        <div class="mb2">
            <div class="boldnames2">
                <h3>Node JS.</h3>
            </div>
            <div class="phar">
                <p>(2022-2023)</p>

            </div>
        </div>
        <div class="mb2">
            <div class="boldnames2">
                <h3>DaVanchi Resolve</h3>
            </div>
            <div class="phar">
                <p>(2023-2023)</p>

            </div>
        </div>

    </div>
</div>
</div>

</div>
</div>
</div>
</section>














<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<script>
    var typed = new Typed('#element', {
        strings: ['Web Developing', '&amp; Web Designing.', 'Content Writing.', 'Video Editing', 'python development'],
        typeSpeed: 50,
    });
</script>

{% endblock %}